<h2>Here are the products currently in stock:</h2>

<% @all_products.each do |product| %>
  <h3><a href="/products/<%= product.id %>"><%= product.name %></a></h3>
  <p>$<%= product.price %></p>
    <p><%= product.description %></p>
    <hr>
<% end %>

<!-- get a product id and assign it to a variable to link above -->
<%= form_tag "/products/new", method: :get do %>
  <p><input type="submit" value="Create a New Product"></p>
<% end %>