<h2>Here are the products currently in stock:</h2>
  <% @products.each do |product| %>
    <div class="col-md-3">
      <div class="well">
      <h3><a href="/products/<%= product.id %>"><%= product.name %></a></h3>
      <p>$<%= product.price %></p>
      <p>In Stock: <%= product.in_stock %></p>
      <img src="<%= product.images[0].url %>">
      <p><%= product.description %></p>
      </div>
    </div>
  <% end %>

<!-- get a product id and assign it to a variable to link above -->
<%= form_tag "/products/new", method: :get do %>
  <p><input type="submit" value="Create a New Product"></p>
<% end %>