<!-- I am the show page -->
<h3><%= @product.name %></h3>
<% @product.images.each do |image|%>
<p><img src="<%= image.url %>"></p>
<% end %>
<p>Product ID: <%= @product.id%></p>
<p>Supplier: <%= @product.supplier.name %></p>
<p><strong>Price: </strong><%= number_to_currency(@product.price) %></p>
<p>Plus tax: <%= number_to_currency(@product.tax) %></p>
<p><strong>Total Price: </strong><%= number_to_currency(@product.total) %></p>
<p><strong><%= @product.sale_message %></strong></p>
<p><strong>In Stock: </strong><%= @product.stock_boolean %></p>
<p><%= @product.description %></p>

<%= form_tag "/cart", method: :post do %>
  <p>Quantity: <input type="text" name="quantity" placeholder="Enter a number"></p>
  <p><input type="hidden" name="product_id" value="<%= @product.id %>"></p>
  <input type="submit" value="Add To Cart">
<% end %>


<hr>
<br>
<br>
<br>
<br>
<br>
<%= form_tag "/products/#{@product.id}/edit", method: :get do %>
  <input type="submit" value="Edit Product">
<% end %>

<hr>

<%= form_tag "/products/#{@product.id}", method: :delete do %>
  <p><input type="submit" value="Delete! (be careful)"></p>
<% end %>
